.buscador
{
    @extend %default;
    background-color: nth($ecommerce-colores, 3);
    >p 
    {
        color: white;
        text-align: center;
        margin-right: 25px;
    }
    >form 
    {
        margin-left: 25px;
        display: flex;
        justify-content: center;
    }
}