.contacto 
{
    background-color: nth($colores, 2);

    color: nth($colores, 5);
    >div 
    {
        display: flex;
        justify-content: center;
        >form 
        {
            width: 400px;
            @media only screen and (min-width: 841px)
            {
                font-size: nth($tamaño-texto, 2);
            }
            @media only screen and (min-width: 440px) and (max-width: 840px)
            {
                font-size: nth($tamaño-texto, 3);
            }
            >div
            {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            >div:nth-child(2), >div:nth-child(3), >div:nth-child(4)
            {
                padding-top: 20px;
            }
        }
    }
}