.ecommerce-header
{
    @extend %default;
    // background-color: nth($colores, 4);
    background-color: white;
    >div
    {
        width: 800px;
        >p 
        {
            color: white;
            text-align: center;
        }   
    }
}