header 
{
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    background-color: nth($colores, 1);
    >div 
    {
        display: flex;
        justify-content: center;
        >div 
        { 
            >div 
            {
                >a 
                {
                    text-decoration: none;
                    color: nth($colores, 5);
                    @media only screen and (min-width: 841px)
                    {
                        font-size: nth($tamaño-texto, 1);
                    }
                    @media only screen and (min-width: 440px) and (max-width: 840px)
                    {
                        font-size: nth($tamaño-texto, 4);
                    }
                    @media only screen and (min-width: 0px) and (max-width: 439px)
                    {
                        font-size: nth($tamaño-texto, 5);
                    }
                }
            }
        }
    }
}