.seccion-uno 
{
    background-color: nth($colores, 2);
    @media only screen and (min-width: 841px)
    {
        font-size: nth($tamaño-texto, 4);
    }
    @media only screen and (min-width: 440px) and (max-width: 840px)
    {
        font-size: nth($tamaño-texto, 5);
    }
    >div
    {
        display: flex;
        justify-content: center;
        >div 
        {
            >div:nth-child(1)
            {
                width: 400px;
                @media only screen and (min-width: 0px) and (max-width: 840px) 
                {
                    padding-bottom: 20px;
                }
                >img 
                {
                    width: 355px;
                    border: 4px solid nth($colores, 4);
                    border-radius: 10px;
                    @media only screen and (min-width: 0px) and (max-width: 840px) 
                    {
                        width: 392px;
                    }
                }
            }
            >div:nth-child(2)
            {
                width: 400px;
                >div:nth-child(1)
                {
                    padding-bottom: 20px;
                    display: flex;
                    p
                    {
                        padding-right: 6px;
                        color: nth($colores, 5);
                    }
                    h1 
                    {
                        text-decoration: none;
                        color: nth($colores, 4);
                        @media only screen and (min-width: 841px)
                        {
                            font-size: nth($tamaño-texto, 4);
                        }
                        @media only screen and (min-width: 440px) and (max-width: 840px)
                        {
                            font-size: nth($tamaño-texto, 5);
                        }
                    }
                }
                >div:nth-child(2)
                {
                    color: nth($colores, 5);
                    line-height: 25px;
                }
            }
        }
    }
}