.seccion-tres 
{
    background-color: nth($colores, 2);
    >div
    {
        display: flex;
        justify-content: center;
        >div 
        {
            display: flex;
            align-items: center;
            flex-direction: column;
            >div:nth-child(1)
            {
                padding-bottom: nth($padeo, 1);
                h2 
                {
                    color: nth($colores, 5);
                    @media only screen and (min-width: 841px)
                    {
                        font-size: nth($tamaño-texto, 2);
                    }
                    @media only screen and (min-width: 0px) and (max-width: 840px)
                    {
                        font-size: nth($tamaño-texto, 3);
                    }
                }
            }
            >div:nth-child(2)
            {
                @extend %card;
            }
            >div:nth-child(3)
            {
                margin-top: nth($padeo, 1);
                @extend %card;
                >div:nth-child(2){
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    >a{
                        padding-top: 20px;
                        color: white;
                        text-align: center;
                    }
                }
            }
        }
    }
}